{% set header_menu = this.globalContentFactory().getHeaderMenu() %}

<nav class="navbar navbar-header fixed-top{% if not header_menu.getParamValue('burger') %} navbar-expand-lg{% endif %}">
  <div class="container">
      {{this.render(this.globalContentFactory().getHeaderLogo(), 'logo_header')|raw}}
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-primary" aria-controls="navbar-primary" aria-expanded="false">
      <span class="icon-bar"></span>
    </button>

    {{this.render(this.globalContentFactory().getHeaderMenu(), 'menu_header')|raw}}
  </div>
</nav>
