<div
  {{this.bbcontent(null, {class: 'media-image cloud-logo navbar-brand'})|raw}}
  {% block data_attributes %}{% endblock %}
  data-img-quality="100"
  data-mobile-edit="false"
  data-forbidden-plugins="dnd,parameter,remove,resize,focus"
>
  {# <a class="navbar-brand" href="{{this.getHomeUrl()}}">BackBee</a> #}
  <a href="{{this.getHomeUrl()}}">
    <span class="logo">
      <img class="h-100" draggable="false"{% if image.path != false %} src="{{this.getCdnImageUrl(image.path)|raw}}"{% endif %} loading="lazy">
    </span>
  </a>
</div>
