{% set current_lang = this.getCurrentLang() %}
<form {{this.bbcontent(null, {class: 'searchbar-wrapper'})|raw}} action="{{current_lang ? '/' ~ current_lang : ''}}/search" method="get">
  <input
    {% block data_attributes %}{% endblock %}
    type="text"
    name="q"
    class="form-control"
    placeholder="{{this.getObject().getParamValue('input_placeholder')}}"
  />
  <i class="icon_search"></i>
</form>
