{% set current_lang = this.getCurrentLang() %}
<form {{this.bbcontent()|raw}} action="{{current_lang ? '/' ~ current_lang : ''}}/search" method="get">
  <input type="text" name="q" class="form-control" placeholder="{{this.getObject().getParamValue('input_placeholder')}}" />
</form>
