<header {{this.bbcontent()|raw}}>
  <h1
    {% block data_attributes %}{% endblock %}
    data-cloud-rte="true"
    data-font-size="vmin"
    class="text-{{align.value}}"
  >
    {{value|raw}}
  </h1>
</header>
