// ©BackBee - v1.0.0 FEBRUARY 2018 - LP Digital
//
// Theme - Life Style (default theme color scheme)

$primary-color:             #39829d;
$secondary-color:           #e0e1e6;
$text-color:                #515256;
$background-color:          #ffffff;
