{% if bb.token != null %}
<div class="missing-config-wrapper">
  <div class="missing-config">
    <p><i class="icon icon-info"></i> Click <i class="icon icon-gear"></i></p>
  </div>
</div>
{% endif %}
