{% if bb.token != null %}
<div class="missing-config-wrapper">
  <div class="missing-config">
    <i class="icon icon-info"></i>
    <p>
      <span data-cloud-trans="missing_parameter_first_part">Click the</span> <i class="icon icon-gear"></i>
      <span data-cloud-trans="missing_parameter_second_part">button to set your </span>
      <b data-cloud-trans="{{this.getObject().getProperty('name')}}">{NAME_BLOCK}</b>
      <span data-cloud-trans="missing_parameter_third_part">content</span>
    </p>
  </div>
</div>
{% endif %}
