{% set transparencyClass = '' %}

{% if transparency.value %}
    {% set transparencyClass = 'transparency' %}
{% endif %}

<div
    {% block data_attributes %}{% endblock %}
    data-cloud-rte="true"
    {{this.bbcontent(null, {class: style.value ~ ' ' ~transparencyClass ~ ' content paragraph' ~ (bg_color.value == 'default' ? '' : ' bg bg-' ~ bg_color.value)})|raw}}
>
  {{value|raw}}
</div>
