<div {% block data_attributes %}{% endblock %} data-mobile-edit="false" data-forbidden-plugins="dnd,parameter,remove" data-cloud-rte="true" {{this.bbcontent(null, {class: 'content paragraph' ~ (bg_color.value == '' ? '' : ' has-bg-color ' ~ bg_color.value)})|raw}}>
  {{value|raw}}
</div>
