<div {{this.bbcontent()|raw}}>
  {% if contents|length > 0 %}
    <div class="autoblock-horizontal">
      {% for content in contents %}
        {% if loop.index == 1 %}
          <div class="row">
        {% endif %}

        <div class="col-md-3">
        {{content|raw}}
        </div>

        {% if loop.last or loop.index % 4 == 0 %}
          </div>
        {% endif %}

        {% if loop.index % 4 == 0 and loop.last == false %}
          <div class="row">
        {% endif %}
      {% endfor %}

      {% include 'pagination_autoblock.html.twig' %}
    </div>
  {% else %}
    {% include 'common/missing_config_block.html.twig' %}
  {% endif %}
</div>
