<div data-mobile-edit="false" data-forbidden-plugins="dnd,remove" {{this.bbcontent(null, {class: 'content text-' ~ align.value})|raw}}>
    <ul class="list-inline social-list">
        {% set found = false %}
        {% for key, social in social.value %}
            {% if social.enable == true and social.url %}
                {% set found = true %}
                {% include 'Social/Icons.item.html.twig' with {'key': key, 'social': social} %}
            {% endif %}
        {% endfor %}
        {% if found == false %}
            {% include 'common/missing_config_block.html.twig' %}
        {% endif %}
    </ul>
</div>
