<div
    {% block data_attributes %}{% endblock %}
    data-forbidden-plugins="remove,parameter"
    data-cloud-rte="true"
    {{this.bbcontent(null, {class: 'lead content'})|raw}}
>
    {{value|raw}}
</div>
