{% set item_per_line = nb_item_per_line.value ?: 1 %}
{% set col = 12 / item_per_line %}

<div {{this.bbcontent()|raw}}>
{% if contents == false %}
  {% include 'common/missing_config_block.html.twig' %}
{% else %}
  <div class="autoblock-horizontal">
  {% if contents|length > 0 %}
    {% for content in contents %}
      {% if loop.index == 1 %}
        <div class="row">
      {% endif %}

      <div class="col-md-{{col}}">
      {{content|raw}}
      </div>

      {% if loop.last or loop.index % item_per_line == 0 %}
        </div>
      {% endif %}

      {% if loop.index % item_per_line == 0 and loop.last == false %}
        <div class="row">
      {% endif %}
    {% endfor %}
  {% endif %}
  </div>

{% endif %}
</div>

